boto3==1.42.94
botocore==1.42.94
dataclasses-json==0.6.7
ego4d==1.7.3
iopath==0.1.10
jmespath==1.1.0
marshmallow==3.26.2
mypy_extensions==1.1.0
packaging==26.1
portalocker==3.2.0
python-dateutil==2.9.0.post0
regex==2026.4.4
s3transfer==0.16.1
six==1.17.0
tqdm==4.67.3
typing-inspect==0.9.0
typing_extensions==4.15.0
urllib3==2.6.3
